<a href="https://colab.research.google.com/github/rashidov9797/Data_Science_homeworks/blob/main/melbourn_home_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:

import pandas as pd
import numpy as np

In [42]:
df=pd.read_csv("https://raw.githubusercontent.com/rashidov9797/Data_Science_homeworks/main/melb_data.csv",index_col=0)

In [43]:
df.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea     6417
YearBuilt        5344
CouncilArea      1307
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [44]:
# Room - xonalar soni
# Type - uyning turi (h - villa/kottej/hovli; u - kvartira; t - shahardagi hovli)
# Price - narx
# Bathroom - tualet-vanna
# Landsize - yerning maydoni (hovli uchun)
# BuildingArea - Bino qurilgan yerning maydoni
# YearBuilt - qurilgan yili
# Lattitude va Longitude - GPS kordinatalar
# Regionname - Region


df.fillna(0)

              Suburb  ... Propertycount
0         Abbotsford  ...        4019.0
1         Abbotsford  ...        4019.0
2         Abbotsford  ...        4019.0
3         Abbotsford  ...        4019.0
4         Abbotsford  ...        4019.0
...              ...  ...           ...
13575  Wheelers Hill  ...        7392.0
13576   Williamstown  ...        6380.0
13577   Williamstown  ...        6380.0
13578   Williamstown  ...        6380.0
13579     Yarraville  ...        6543.0

[13518 rows x 21 columns]

In [12]:
print(df['BuildingArea'].mean())
print(int(df['YearBuilt'].mean()))

152.12890349246587
1964

In [46]:
df.fillna({'BuildingArea' : df['BuildingArea'].mean(),'YeraBuilt' : int(df['YearBuilt'].mean())})

              Suburb  ... Propertycount
0         Abbotsford  ...        4019.0
1         Abbotsford  ...        4019.0
2         Abbotsford  ...        4019.0
3         Abbotsford  ...        4019.0
4         Abbotsford  ...        4019.0
...              ...  ...           ...
13575  Wheelers Hill  ...        7392.0
13576   Williamstown  ...        6380.0
13577   Williamstown  ...        6380.0
13578   Williamstown  ...        6380.0
13579     Yarraville  ...        6543.0

[13518 rows x 21 columns]

In [47]:
df.groupby(['Regionname']).YearBuilt.mean().astype(int)

Regionname
Eastern Metropolitan          1971
Eastern Victoria              1984
Northern Metropolitan         1962
Northern Victoria             1986
South-Eastern Metropolitan    1976
Southern Metropolitan         1960
Western Metropolitan          1968
Western Victoria              1982
Name: YearBuilt, dtype: int64

In [21]:
# groups = df.groupby(['Regionname']).YearBuilt.mean() 
# for idx in groups.index:
#    df[df.Regionname==idx] = df[df.Regionname==idx].fillna({'YearBuilt':groups[idx]})

groups = df.groupby(['Regionname']).YearBuilt.mean().astype(int)
for a in groups.index:
  df[df.Regionname == a] = df[df.Regionname==a].fillna({'YearBuilt': groups[a]})
df.head()

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

6-vazifa

In [24]:
df.groupby(['Rooms']).mean()

              Price   Distance  ...  Longtitude  Propertycount
Rooms                           ...
1      4.330906e+05   5.933776  ...  144.984837    8700.883481
2      7.724822e+05   7.757178  ...  144.989840    7804.176146
3      1.074386e+06  11.023291  ...  144.987749    7311.987526
4      1.445124e+06  12.153763  ...  145.012194    7097.774963
5      1.870260e+06  11.778523  ...  145.033244    7051.510067
6      1.849366e+06  12.685075  ...  145.034099    6668.865672
7      1.920700e+06   9.560000  ...  145.033313    6874.300000
8      1.602750e+06  10.912500  ...  145.014315    6085.375000
10     9.000000e+05  12.100000  ...  145.053810   10175.000000

[9 rows x 12 columns]

In [27]:
df.groupby(['Rooms','Type']).mean()

                   Price   Distance  ...  Longtitude  Propertycount
Rooms Type                           ...
1     h     8.669860e+05   6.987719  ...  144.966292    7312.070175
      t     5.927045e+05   6.981818  ...  144.988266    7195.454545
      u     3.896680e+05   5.816393  ...  144.986508    8857.804918
2     h     1.014966e+06   7.653353  ...  144.981053    7312.475219
      t     7.101585e+05   8.941379  ...  144.979010    7545.489028
      u     6.104905e+05   7.635318  ...  144.997872    8196.270844
3     h     1.107357e+06  11.279128  ...  144.984970    7350.904023
      t     9.847087e+05   9.974563  ...  144.998826    6996.322734
      u     8.505963e+05   9.778936  ...  145.001703    7340.465632
4     h     1.462141e+06  12.208675  ...  145.011257    7126.194986
      t     1.217092e+06  11.444667  ...  145.024198    6545.193333
      u     1.037476e+06  10.647619  ...  145.038477    7643.857143
5     h     1.877327e+06  11.785787  ...  145.033487    7052.620981
      t     1.035000e+06  10.920000  ...  145.004502    6920.200000
6     h     1.869508e+06  12.753030  ...  145.036606    6693.272727
      u     5.200000e+05   8.200000  ...  144.868600    5058.000000
7     h     1.920700e+06   9.560000  ...  145.033313    6874.300000
8     h     1.510286e+06  11.357143  ...  145.020660    5354.142857
      u     2.250000e+06   7.800000  ...  144.969900   11204.000000
10    h     9.000000e+05  12.100000  ...  145.053810   10175.000000

[20 rows x 12 columns]

In [56]:
# df[df['Rooms'].values==10]
# df.fillna({'Rooms' : 10 })
df['Rooms'].value_counts()

3     5852
2     3622
4     2684
1      678
5      596
6       67
7       10
8        8
10       1
Name: Rooms, dtype: int64

In [35]:


df.fillna({'BuildingArea':np.mean(df['BuildingArea'])}, inplace=True)

In [36]:
df

              Suburb  ... Propertycount
0         Abbotsford  ...        4019.0
1         Abbotsford  ...        4019.0
2         Abbotsford  ...        4019.0
3         Abbotsford  ...        4019.0
4         Abbotsford  ...        4019.0
...              ...  ...           ...
13575  Wheelers Hill  ...        7392.0
13576   Williamstown  ...        6380.0
13577   Williamstown  ...        6380.0
13578   Williamstown  ...        6380.0
13579     Yarraville  ...        6543.0

[13518 rows x 21 columns]

In [38]:
df.fillna(method="ffill",inplace=True)

In [39]:
df.isnull().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64